<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>7.0.5</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDCodesignOnlyOnExport</key>
	<false/>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0
b3ASAAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxAR
WiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlY
TlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdUcm9vdIABCBEaIy0yNztBRlFY
WVtga3SDh4+Yqq2yAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDPersistentGlobals</key>
	<false/>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>F5D690B6-C87B-4599-BB1E-830F5AB42FE9-9651-000004E81C821576</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>141</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>503</integer>
								<integer>210</integer>
								<integer>157</integer>
							</array>
							<key>5</key>
							<array>
								<integer>232</integer>
								<integer>94</integer>
								<integer>294</integer>
								<integer>75</integer>
								<integer>116</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>aepState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>348</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<integer>0</integer>
								<key>LNSTextViewShowSpaces</key>
								<integer>0</integer>
								<key>LNSTextViewShowTabStops</key>
								<integer>0</integer>
								<key>LNSTextViewWrapLines</key>
								<integer>1</integer>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {424, 614}}</string>
							</dict>
						</dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>210</real>
							<key>scope2.changedItems</key>
							<integer>1</integer>
							<key>scope2.emptyElements</key>
							<integer>0</integer>
							<key>scope2.filledElements</key>
							<integer>1</integer>
							<key>scope2.props</key>
							<integer>1</integer>
							<key>scope2.unchangedItems</key>
							<integer>1</integer>
							<key>showScopeBar</key>
							<integer>1</integer>
						</dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>sourceState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>5</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<integer>0</integer>
								<key>LNSTextViewShowSpaces</key>
								<integer>0</integer>
								<key>LNSTextViewShowTabStops</key>
								<integer>0</integer>
								<key>LNSTextViewWrapLines</key>
								<integer>1</integer>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {741, 504}}</string>
							</dict>
						</dict>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>3</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<integer>0</integer>
								<key>LNSTextViewShowSpaces</key>
								<integer>0</integer>
								<key>LNSTextViewShowTabStops</key>
								<integer>0</integer>
								<key>LNSTextViewWrapLines</key>
								<integer>1</integer>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {741, 504}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>141</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>174.5</real>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784446</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>320</integer>
								<integer>147</integer>
								<integer>434</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>247</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<true/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplitPosition</key>
				<real>757</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>279</integer>
								<integer>676</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>720</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 0}, {877, 869}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>35C22027-CB81-4C41-8335-302F0B156DDD-9651-000004E832B6032B</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<false/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>F5D690B6-C87B-4599-BB1E-830F5AB42FE9-9651-000004E81C821576</string>
				<key>windowFrame</key>
				<string>0 76 1680 951 0 0 1680 1027 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>ScriptWindowController</string>
				<key>controllerID</key>
				<string>F5D690B6-C87B-4599-BB1E-830F5AB42FE9-9651-000004E81C821576</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>windowFrame</key>
					<string>0 76 1680 951 0 0 1680 1027 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
